.about-top {
  background: url("https://images.unsplash.com/photo-1498243691581-b145c3f54a5a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
}
.about-top-inner {
  display: flex;
  flex-direction: row;
  background-color: #2c3456a6;
}
/* vertical-line.css */
.vertical-line {
  border-left: 1px solid #ccc; /* Adjust the style and color as needed */
  height: 100%; /* Adjust the height as needed */
}

.about-main-top {
  flex: 5;
  margin: 1rem;
  /* border-radius: 1rem; */
  /* box-shadow: 1px 0px 12px -3px rgba(0, 0, 0, 10.75); */
  font-family: Montserrat;
  background-color: transparent;
}
.about-head {
  font-size: 1.4rem;
  font-weight: 600;
}
.about-desc {
  color: rgb(87, 87, 87);
  margin-top: 0.5rem;
}
/* .about-desc::first-letter {
  font-size: 2rem;
  color: #f7a300;
  font-family: serif;
} */
li {
  color: rgb(87, 87, 87);
}
.about-main-inner {
  margin: 2rem;
}

.about-element {
  background-color: white;
  padding: 1rem;
  /* border-radius: 1rem; */
  margin-top: 2.5rem;
  border-radius: 0.5rem;
}

@media (max-width: 728px) {
  .about-top {
    flex-direction: column;
  }
  .about-element {
    text-align: center;
  }
}
