.about-top {
  display: flex;
  flex-direction: row;
}
/* vertical-line.css */
.vertical-line {
  border-left: 1px solid #ccc; /* Adjust the style and color as needed */
  height: 100%; /* Adjust the height as needed */
}

.about-main-top {
  flex: 5;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: 1px 0px 12px -3px rgba(0, 0, 0, 10.75);
  font-family: Montserrat;
}
.about-head {
  font-size: 28px;
  font-weight: 500;
}
.about-desc {
  color: rgb(57, 57, 57);
}
.about-main-inner {
  margin: 2rem;
}

.about-element {
  margin-top: 2.5rem;
}
