.about-top {
  display: flex;
  flex-direction: row;
  background-color: #f8fafc;
}
/* vertical-line.css */
.vertical-line {
  border-left: 1px solid #ccc; /* Adjust the style and color as needed */
  height: 100%; /* Adjust the height as needed */
}

.about-main-top {
  flex: 5;
  margin: 1rem;
  /* border-radius: 1rem; */
  /* box-shadow: 1px 0px 12px -3px rgba(0, 0, 0, 10.75); */
  font-family: Montserrat;
  background-color: #f8fafc;
}
.about-head {
  font-size: 28px;
  font-weight: 500;
}
.about-desc {
  color: rgb(87, 87, 87);
  margin-top: 0.5rem;
}
li {
  color: rgb(87, 87, 87);
}
.about-main-inner {
  margin: 2rem;
}

.about-element {
  background-color: white;
  padding: 1rem;
  /* border-radius: 1rem; */
  margin-top: 2.5rem;
}

@media (max-width: 728px) {
  .about-top {
    flex-direction: column;
  }
  .about-element {
    text-align: center;
  }
}
