.form-inner {
  margin-inline: 14rem;
  margin-block: 2rem;
  background-color: #f8fafc;
  padding: 2rem;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.4);
  font-family: Montserrat;
  display: flex;
  flex-direction: column;
}

.form-top {
  margin-top: 4rem;
}

input,
select {
  border: 1px solid #ccc;
  outline: none;
  margin-top: 0.8rem;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: Montserrat;
  border-radius: 0.3rem;
}
input {
  width: 60%;
}

.form-label {
  margin-top: 1rem;
}

.form-submit,
.form-reset {
  margin-top: 1rem;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-family: Montserrat;
  background-color: rgb(249, 49, 49);
  color: white;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: 0.4s;
}

.form-reset {
  background-color: rgb(97, 102, 252);
  margin-left: 1rem;
}
/* .form-submit, */
.form-reset:hover {
  /* background-color: rgb(97, 102, 252); */
  background-color: white;
  border: 0.1px solid rgb(97, 102, 252);
  color: rgb(97, 102, 252);
}
.form-submit:hover {
  /* background-color: rgb(97, 102, 252); */
  background-color: white;
  border: 0.1px solid #2c3456;
  color: #2c3456;
}
.resp-div-form {
  display: flex;
}
.resp-right-form {
  margin-inline-start: 4rem;
  width: 100%;
  flex: 1;
}

@media (max-width: 886px) {
  .resp-div-form {
    flex-direction: column;
  }
  .resp-right-form {
    margin-inline-start: 0;
  }
  .form-inner {
    margin-inline: 0;
  }
}
