@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&family=Nunito+Sans:opsz@6..12&display=swap");

.diagonal-div {
  width: 100%;
  height: 100vh;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 200'%3E%3Cpath fill='%23ED1413' d='M29.4,-40.4C42.8,-30.8,61.3,-28.4,65.3,-20.2C69.3,-12.1,58.8,1.8,50.1,12.5C41.5,23.3,34.8,31,26.7,42.6C18.7,54.3,9.4,70,-2.5,73.4C-14.3,76.8,-28.6,67.9,-34.8,55.6C-40.9,43.4,-39,27.7,-42.7,14.3C-46.4,1,-55.8,-10.1,-57,-22.2C-58.2,-34.4,-51.2,-47.6,-40.3,-57.9C-29.4,-68.2,-14.7,-75.7,-3.3,-71.1C8.1,-66.5,16.1,-49.9,29.4,-40.4Z' transform='translate(155 105)'%3E%3C/path%3E%3C/svg%3E"),
    url("https://github.com/AnuragRoshan/images/blob/main/soft-background.jpg?raw=true");
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  position: relative;
}

.image-over-red {
  position: absolute;
  /* margin-right: 10rem; */
  top: 4rem;
  right: 0;
  width: 50%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.logo-over-red {
  position: absolute;
  /* margin-right: 10rem; */
  top: 0;
  left: 0;
  margin-top: 7rem;
  margin-left: 1rem;
  width: 13rem;
  height: 5rem;
  object-fit: fill;
  z-index: 1;
  padding: 1rem;
}
.naac-logo-over-red {
  position: absolute;
  /* margin-right: 10rem; */
  top: 0;
  left: 0;
  margin-top: 8rem;
  margin-left: 15rem;
  width: 8rem;
  height: 3rem;
  object-fit: fill;
  z-index: 1;
  padding: 1rem;
}
.tlc-logo-over-red {
  position: absolute;
  /* margin-right: 10rem; */
  top: 0;
  left: 0;
  border-radius: 0.2rem;
  margin-top: 8rem;
  margin-left: 26rem;
  width: 7rem;
  height: 3rem;
  object-fit: fill;
  z-index: 1;
  padding: 1rem;
}

.text-over-red {
  position: absolute;
  top: 40%;
  left: 1%;
}

.text-over-red-head {
  font-size: 4rem;
  z-index: 2;
  line-height: 3.9rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.text-over-red-desc {
  font-family: Montserrat;
  font-weight: 500;
  height: 3rem;
  font-size: 12px;
  top: 10px; /* Add 10px of space between red-desc and red-head */
}

.text-over-red-below {
  color: #ed1413;
}
/* Responsive adjustments */
@media (max-width: 768px) {
  .text-over-red {
    top: 20%; /* Adjust for smaller screens */
  }

  .text-over-red-head {
    font-size: 3rem; /* Reduce font size for smaller screens */
    line-height: 2.9rem;
    color: black; /* Change text color to black for smaller screens */
  }

  .text-over-red-desc {
    font-size: 10px; /* Reduce font size for smaller screens */
    top: 5px; /* Adjust the spacing for smaller screens */
  }

  .diagonal-div {
    background: none; /* Remove the diagonal background for smaller screens */
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, transparent 50%, transparent 50%),
      url("https://github.com/AnuragRoshan/images/blob/main/soft-background.jpg?raw=true");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }

  .image-over-red {
    display: none; /* Hide the image for smaller screens */
  }
  .text-over-red {
    position: absolute;
    top: 25%;
    /* left: 0%; */
  }
  .text-over-red-head {
    font-size: 3rem; /* Reduce font size for smaller screens */
    line-height: 2.9rem;
    color: black; /* Change text color to black for smaller screens */
    text-align: center;
  }
}
@media (max-width: 1279px) {
  .text-over-red-below {
    color: black; /* Change text color to black for smaller screens */
  }
}
@media (max-width: 631px) {
  .image-over-red,
  .diagonal-div {
  }
}
/* Add this part to your existing CSS */
.chm-top {
  padding: 3rem;
  background-color: #ed1413;
  font-family: Montserrat;
}

.chm-info {
  display: flex;
  align-items: center; /* Vertically center the contents */
}

.chm-head {
  font-size: 3rem;
  font-weight: 500;
  color: white;
}

.chm-msg {
  flex: 4;
  font-size: 0.9rem;
  color: white;
  padding: 1rem;
  border: 1px solid whitesmoke;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

.chm-img {
  flex: 3;
  display: flex;
  align-items: center;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='10 20 190 130'%3E%3Cpath fill='%23F2F4F8' d='M32.1,-56.2C37.8,-46.3,36.1,-31,42.4,-18.9C48.7,-6.8,63.1,2.2,66.1,12.4C69.1,22.5,60.7,34,52.5,47.9C44.2,61.9,36.1,78.5,24.9,79.2C13.8,79.8,-0.4,64.7,-15.8,58.1C-31.2,51.6,-47.8,53.7,-52.3,46.5C-56.8,39.2,-49.3,22.6,-49.2,8.4C-49.2,-5.8,-56.7,-17.5,-56.3,-28.7C-55.9,-39.9,-47.6,-50.6,-36.9,-58.2C-26.2,-65.8,-13.1,-70.5,0,-70.6C13.2,-70.6,26.4,-66.1,32.1,-56.2Z' transform='translate(100 100)'%3E%3C/path%3E%3C/svg%3E")
    center/cover no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chm-img > img {
  width: 100%;
  height: auto; /* Set the height to auto for responsive image resizing */
  max-width: 100%; /* Ensure the image doesn't exceed its container width */
  align-items: center; /* Vertically center the image */
  margin-top: 0rem;
}
