.banner-top {
  background: linear-gradient(to right, white 40%, #ed1413 70%);
}
.navbar {
  height: 5rem;
  display: flex;
  align-items: center;
  font-family: Montserrat;
  font-size: 0.5rem;
  /* flex-direction: row; */
  position: sticky;
  top: 0;
  z-index: 100;
  transition-duration: 0.5s;
  background-color: #ed1413; /* Set your desired background color */
  /* overflow: hidden; */
}

.menu-icon {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
}

.icon {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

  div {
    width: 30px;
    height: 4px;
    background-color: white;
    transform-origin: 1px;
    transition: opacity 300ms, transform 300ms;
  }

  .open {
    div:first-child {
      transform: rotate(45deg);
    }

    div:nth-child(2) {
      opacity: 0;
    }

    div:last-child {
      transform: rotate(-45deg);
    }
  }
}

.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row; /* Align elements vertically */
  flex-wrap: wrap;
  align-items: flex-start; /* Align elements to the start (left) */
}

.nav-item {
  text-decoration: none;
  color: black; /* Text color */
  font-size: 1rem; /* Text size */
  margin: 8px 0; /* Add spacing between items */
  padding: 4px 10px; /* Add padding for better visual appearance */
  cursor: pointer;
  color: white;
}

.linkstyle:hover {
  /* border-bottom: 0.3rem solid white; */
  background-color: white;
  color: #ed1413;
}

.linkstyle {
  padding: 0.4rem;
  transition: color 0.3s; /* Add a smooth color transition effect */
  color: white;
  text-decoration: none;
  /* padding-bottom: 0.2rem; */
}
.linkstyle.active {
  /* text-decoration: underline; */
  /* border-bottom: 0.3rem solid white; */
  background-color: white;
  color: #ed1413;
  /* color: black; */
}

.navbar.scrolled {
  /* Styles for the navbar when scrolled */
  height: 4rem; /* Smaller height */
  background-color: rgba(237, 20, 19, 0.8); /* Transparent background color */
  transition-duration: 0.5s;
}

.nav-list.open {
  display: block;
  background-color: #ed1413;
  position: absolute;
  top: 5rem;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 0;
  flex-direction: column;
}
@media (max-width: 867px) {
  .menu-icon {
    display: block;
  }

  .nav-list {
    display: none;
  }
  .nav-item {
    text-align: center;
  }
}
