.banner-top {
  background: linear-gradient(to right, white 40%, #ed1413 70%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff; /* Set a background color if needed */
  z-index: 1; /* Adjust the z-index to control its stacking order */
  /* Add any other styles you want for your banner */
}

.navbar {
  height: 2.5rem;
  display: flex;
  align-items: center;
  font-family: Montserrat;

  /* flex-direction: row; */
  position: fixed;
  top: 10;
  width: 100%;
  z-index: 1;
  transition-duration: 0.5s;
  background-color: #ed1413; /* Set your desired background color */
  /* overflow: hidden; */
}

.menu-icon {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
}

.icon {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

  div {
    width: 30px;
    height: 4px;
    background-color: white;
    transform-origin: 1px;
    transition: opacity 300ms, transform 300ms;
  }

  .open {
    div:first-child {
      transform: rotate(45deg);
    }

    div:nth-child(2) {
      opacity: 0;
    }

    div:last-child {
      transform: rotate(-45deg);
    }
  }
}

.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row; /* Align elements vertically */
  flex-wrap: wrap;
  align-items: flex-start; /* Align elements to the start (left) */
}

.nav-item {
  text-decoration: none;
  color: black; /* Text color */
  font-size: 1.1rem; /* Text size */
  margin: 8px 0; /* Add spacing between items */
  padding: 4px 10px; /* Add padding for better visual appearance */
  cursor: pointer;
  color: white;
}

.linkstyle:hover {
  /* border-bottom: 0.3rem solid white; */
  background-color: white;
  color: #ed1413;

  padding: 0.49rem;
}

.linkstyle {
  padding: 0.49rem;
  transition: color 0.3s; /* Add a smooth color transition effect */
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  /* padding-bottom: 0.2rem; */
}
.linkstyle.active {
  /* text-decoration: underline; */
  /* border-bottom: 0.3rem solid white; */
  background-color: white;
  color: #ed1413;
  padding: 0.49rem;
  /* color: black; */
}

.navbar.scrolled {
  /* padding: 0.399rem; */
  /* Styles for the navbar when scrolled */
  height: 2.1rem; /* Smaller height */
  background-color: rgba(237, 20, 19, 0.8); /* Transparent background color */
  transition-duration: 0.5s;
}

.nav-list.open {
  display: block;
  background-color: #ed1413;
  position: absolute;
  top: 5rem;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 0;
  flex-direction: column;
}
@media (max-width: 1338px) {
  .menu-icon {
    display: block;
  }

  .nav-list {
    display: none;
  }
  .nav-item {
    text-align: center;
  }
  .logo-3 {
    display: none;
  }
  .navbar {
    /* background-color: transparent; */
    /* display: none; */
  }
}

@media (max-width: 535px) {
  .logo-2 {
    display: none;
  }
}
